
@media only screen and (max-width: 768px) {
  main {
    margin: 9.07vw 4.8vw;
  }
  .intro-p,
  .module-p,
  .news-p,
  .hamburger-menu-title,
  .content-div-title {
    font-size: 4.27vw;
    line-height: 6.4vw;
  }
  #content-div-intro {
    padding-bottom: 23.7vw;
  }
  .content-div {
    padding-bottom: 30.9vw;
  }
  .content-div-title {
    padding: 7.47vw 19.7vw;
  }
  .intro-title,
  .module-title,
  .news-title {
    font-size: 5.33vw;
    line-height: 5.33vw;
    letter-spacing: 0.32px;
  }
  .intro-span,
  .module-span {
    font-size: 1.87vw;
    left: 10.4%;
  }
  .intro-img-container,
  .module-img-container {
    -webkit-clip-path: polygon(0% 0%, 0% 100%, 8.41% 100%, 8.41% 93.7%, 48.4% 93.7%, 48.4% 100%, 100% 100%, 100% 0);
    clip-path: polygon(0% 0%, 0% 100%, 8.41% 100%, 8.41% 93.7%, 48.4% 93.7%, 48.4% 100%, 100% 100%, 100% 0);
  }
  .news,
  .module {
    padding-bottom: 20.5vw;
  }
  .news-img,
  .module-img-container {
    margin-bottom: 7.47vw;
  }
  .news-title,
  .module-title {
    margin-bottom: 4.8vw;
  }
  .news-p,
  .module-p {
    font-family: "ag-light", sans-serif;
  }

  /*** INTRO ***/
  .intro-title {
    padding-left: 19.7vw;
    padding-bottom: 8.23vw;
  }
  .intro-p {
    width: 95%;
    padding-left: 0;
    padding-top: 5.87vw;
  }
  .intro-svg {
    height: 3.2vw;
    top: 0;
  }
  #newlab-br {
    display: block;
  }
  .intro-span {
    top: 60.5vw;
  }

  /*** NAV ***/
  .hamburger-logo {
    width: 8vw;
  }
  .hamburger-menu {
    width: 48.8vw;
    height: 63.2vw;
    padding: 5.33vw;
    padding-top: 18.7vw;
  }
  .hamburger-menu-title {
    line-height: 8.53vw;
  }

  /*** MODULE ***/
  .module {
    display: block;
    grid-template-columns: unset;
    grid-column-gap: 0;
  }
  .module-span {
    top: 39.5%;
  }
  .module-description {
    margin-top: 0;
  }
  .module-arrow {
    height: 5.87vw;
    top: calc(50% - 2.94vw);
  }

  /*** NEWS ***/
  .news-container {
    display: block;
    grid-template-columns: unset;
    padding-left: 0;
  }
  .news {
    max-width: unset;
    padding-right: 0;
    border-bottom: unset;
  }

  /*** CONTACT ***/
  #content-div-contact {
    padding-bottom: inherit;
  }
  .contact-form,
  .contact-input-label {
    font-size: 2.67vw;
    line-height: 6.4vw;
  }
  .contact-form {
    width: 100%;
    padding-left: 0;
  }
  .contact-input-container {
    margin-bottom: 6.13vw;
  }
  .contact-input-half-container {
    width: 46%;
  }
  .contact-input {
    height: 8vw;
    padding-left: 2.67vw;
  }
  #contact-input-message {
    height: 37.9vw;
  }
  #contact-input-submit {
    padding: 0 2.67vw;
  }
  #contact-input-submit-container {
    margin-left: 0;
  }
}
